.article {
 display:flex;
 align-content:flex-start;
  margin: 20px auto 75px;
  border: none;
  background-color: hsl(0, 0%, 100%);
  padding: 30px;
  box-shadow: 3px 3px 10px 0px hsl(0, 0%, 30%);
  text-align: justify;
  word-break: break-word;
}

.article__image {
  max-width: 250px;
  margin: 30px;
  background-position: center;
  box-shadow: 3px 3px 10px 0px hsl(0, 0%, 30%);
  border-radius: 10px;
}

.article__heading {
  font-weight: bold;
 
}

.article__paragraph {
  padding: 20px;
  font-size: 20px;
  line-height: 1.5;
}



