.article {
  margin: 50px auto;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  padding: 10px 30px 30px 50px;
  box-shadow: 3px 3px 10px 0px hsl(0, 0%, 30%);
  text-align: justify;
  word-break: break-word;
}

.article__heading {
  font-weight: bold;
 
}

.article__paragraph {
  font-size: 20px;
  line-height: 1.5;
}

.article__span {
  font-weight: bold;
}

.article__list {
  font-size: 20px;
  line-height: 1.5;
}

.article__listItem {
  list-style: square;
}
