.button__button {
  color: #fff;
  padding: 10px;
  font-size: 10px;
  font-weight: bold;
  background-color: #302f2f;
  border-radius: 10px;
  border: none;
  box-shadow: 3px 3px 10px 0px #4d4d4d;
  transition: 0.2s;
}

.button__button:hover {
  background: #ac3939;
  transform: scale(1.05);
}

.button__dark {
  background-color: #fff;
  color: #000;
}