.contact {
    color: #563a02;
  }
  
  .contact__heading {
    color:#563a02;
    margin: 10px auto;
    font-weight: bold;
    font-size: 30px;
  }
  
  .contact__link {
    color: #563a02;
    text-decoration: none;
    font-weight: bold;
  }