@media (max-width: 767px), (max-width: 992px) {
  .header {
    flex-direction: column;
  }

  .button {
    align-self: center;
  }

  .navigation {
    flex-direction: column;
    align-items: center;
  }

  .section__element {
    flex-direction: column-reverse;
    align-items: center;
  }
}