.navigation {
  display: flex;
  flex-direction: row;
  justify-content:space-around ;
  margin: 10px auto;
 
}

.navigation__link {
  background-color: #85888f;
  border: none;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  transition: 0.5s;
}

.navigation__link:hover {
  transform: scale(1.4);

}