.navigation {
  background-color: #ba8b2c;
  border: 1px solid #8b661b;
  box-shadow: 3px 3px 10px 0px #a27720;
  border-radius: 10px;
}

.navigation__list {
  list-style: none;
}

.navigation__item {
  margin: 5px;
}

.navigation__link {
  color: #fff;
  text-decoration: none;
}
