.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px auto;
}

.navigation__link {
  border: none;
  padding: 15px;
  color: #000;
  text-decoration: none;
}

.navigation__link:hover {
  transform: scale(1.4);
  color: #ff0000;
}

.navigation__dark {
  color: #e4e6eb
}