.section {
  margin: 75px auto;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  padding: 20px 30px 30px 50px;
  box-shadow: 3px 3px 10px 0px hsl(0, 0%, 30%);
  text-align: justify;
  word-break: break-word;
}

.section__header {
  margin: 10px auto;
  font-weight: bold;
}

.section__paragraph {
  font-size: 20px;
  line-height: 1.5;
}

.section__paragraph--italic {
  font-size: 20px;
  line-height: 1.5;
  font-style: italic;
}

.section__image {
  display: flex;
  flex-wrap: wrap;
}

.section__image--scene {
  max-width: 200px;
  margin: 20px auto;
  box-shadow: 3px 3px 10px 0px #563a02;
  border-radius: 10px;
  transition: 1s;
}

.section__image--scene:hover {
transform: scale(2);
}



.section__link {
  background-color: #e7cf16a3;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
}

.section__link:visited {
  background-color: #ff0000;
}

.section__link:focus {
  outline: 2px solid;
}

.section__link:hover {
  background-color: #0000ff;
  border-bottom: 1px solid;
  outline: none;
}

.section__link:active {
  background-color: #daa520;
}

.section__download {
  color: #0000ff;
  font-weight: bold;
}