html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #e4e6eb;
  max-width: 1200px;
  margin: auto;
}

.dark {
  background-color: #4a4d54;
}