.tableContainer__title {
    margin: 10px auto;
    font-weight: bold;
  }
  
  .table {
    font-size: 12px;
    border-collapse: collapse;
    width: 100%;
  }
  
  .table__caption {
    caption-side: bottom;
    text-align: left;
    margin-top: 20px;
    font-weight: bold;
  }
  
  .table__cell {
    border: 1px solid #151414;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
  }
  
  .table__cell--header {
    background-color: #dc143c;
    color: white;
    font-weight: normal;
  }
  
  .table__row:nth-child(odd) {
    background-color: #eee;
  }
  
  .table__row:hover {
    background-color: #c3bebe;
  }
  
  .tableContainer {
    overflow-x: auto;
  }
  